.cabecalho{
    background-color: black;
    display: flex;
    color: white;
    text-align: center;
    
}
img{
    object-fit: cover; /* Mantém a proporção da imagem */
    position: relative; /* Para posicionar a imagem sobre o fundo */
    z-index: 1;
    padding-left: 10px;
    display: flex;
    border-radius: 50%; /* Faz a imagem ficar circular */
    object-fit: cover;  
}
#txt{
    display: inline;
    padding-left: 30%;

}
.pr{
    line-height: 0.5;
    font-size: small;
}
.p{
    line-height: 1;
    font-size: small;
}
footer{
    background-color: black;
    display: flex;
    color: black;
    width:"100";
    height:"100";
    text-align: center;
}
